{# iOS Modal / Action Sheet #}
{# 用法: 配合 Alpine.js x-data 使用 #}
{# 示例:
<div x-data="{ open: false }">
    <button @click="open=true">打开</button>
    include "components/_modal.html" with title="确认删除"
</div>
#}
<template x-if="open">
    <div>
        <div class="modal-backdrop show" @click="open=false"></div>
        <div class="action-sheet show">
            <div class="action-sheet-handle"></div>
            {% if title %}<h3 style="font-size:var(--fs-title3);font-weight:600;margin-bottom:var(--sp-md);">{{ title }}</h3>{% endif %}
            {% block modal_content %}{% endblock %}
        </div>
    </div>
</template>
